// Size
$content-width: 90%;

// Colors
$light: #FCFFF6;
$dark: #665842;
$primary-light: #FF9966;
$primary-dark: #CC6633;
$accent: #66CC99;

// Images
$background-texture: url(http://www.transparenttextures.com/patterns/swirl.png);
$main-texture: 0;//url(http://www.transparenttextures.com/patterns/groovepaper.png);

// Typography
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
//Lustria
@import url(http://fonts.googleapis.com/css?family=Lustria);
//Merriweather
//Noticia Text
//Sanchez
//Quattrocento


$sans-serif: 'Poiret One', 'Helvetica', Helvetica, Arial, sans-serif;
$serif: 'Lustria', 'Georgia', serif;