// Size
$content-width: 960px;

// Colors
$light: #FAFAFA;
$dark: #000515;
$accent-color: pink;

// Typography
@import url(http://fonts.googleapis.com/css?family=Questrial|Lato:100,300|Vollkorn);

$sans-serif: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif;
$serif: 'Vollkorn', 'Georgia', serif;
$accent-font: 'Questrial', $sans-serif;