{% include open.html %}

<div class="row collapse">
<section class="stills">
	<img src="img/contempt-bw.jpg">
</section>
<main>
	<header>
		<img src="img/contempt-bw.jpg">
        <section class="page-title">
                <h1>Zack Miller</h1>
                <h2>Professional Software Developer.</h2>
                <h2>Amateur Film Critic.</h2>

                Questrial / Vast Shadow
                Old Standard TT / Ovo
        </section>
	</header>
	<section class="bio">
		<p>During the week I watch movies between bouts of programming; on the weekend it's usually the other way around.</p>
<p>Currently, I work at the IWK Health Centre in Halifax, Nova Scotia. I lead a software development team that collaborates with researchers to improve the quality of technology in personal health care.</p>
<p>My resume, film writing, and samples of coding projects will be available here for anyone interested. If there is something else you're looking for - or you just want to chat - you can track me down through one of the links below.</p>
	</section>
</main>
<section class="stills">
	<img src="http://lorempixel.com/1618/1000/">
	<img src="http://lorempixel.com/1618/1000/">
	<img src="http://lorempixel.com/1618/1000/">
	<img src="http://lorempixel.com/1618/1000/">
	<img src="http://lorempixel.com/1618/1000/">
</section>
</div>

{% include close.html %}